@model IUser
@using (Ajax.BeginForm("EditPassword", new CommonAjaxOptions("EditPassword")))
{
    <p>
        <label for="Password">
            Старый пароль:
        </label>
        @Html.Password("oldPassword")
        @Html.ValidationMessage("oldPassword")
    </p>
    <p>
        <label for="Password">
            Новый пароль:
        </label>
        @Html.Password("password")
        @Html.ValidationMessage("password")
    </p>
    <p>
        <label for="Password">
            Повторите новый пароль:
        </label>
        @Html.Password("confirmPassword")
        @Html.ValidationMessage("confirmPassword")
    </p>
    <center>
        <input type="submit" value="Сохранить" />
    </center>
    if (ViewData["message"] != null)
    {	
    <p>
        @ViewData["message"]
    </p>
    }
}