@{
	ViewBag.Title = "Новый пароль";
}
@section TopLine
{
	<h1 class="very-narrow-page">
		Новый пароль</h1>
}
<div class="very-narrow-page">
	<p>
		Введите Ваш новый пароль</p>
	@using (Html.BeginForm())
 {
		<p>
			<label for="password">
				Пароль:</label>
			@Html.Password("password", null, new { @class = "required" })
			@Html.ValidationMessage("password")
		</p>
		<p>
			<label for="confirmPassword">
				Подтверждение пароля:</label>
			@Html.Password("confirmPassword", null, new { @class = "required" })
			@Html.ValidationMessage("confirmPassword")
		</p>
		<center>
            <input type="submit" value="Изменить пароль" />
        </center>
 }
</div>
@Html.Partial("Reformal")
